/* Global styles */
*{
    font-family:"Roboto", "Arial", "Helvetica", "sans-serif";
    font-weight: 500;
    text-align: center;
    line-height: 1.2;

}

/* Title Styles */
header{
    background-color: rgb(44, 44, 44);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    
    
}

h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 250%;
    background-color: cadetblue;
    padding: 15px 20px 15px 60px;
    top: 15%;
    color: rgb(44, 44, 44);
    font-weight: bolder;
    max-height: 100px;;

}

/*  Navigation Styles*/
h3{
    text-align: right;
    color: rgb(53, 75, 148);
    border-right: solid 5px rgb(53, 75, 148);
    font-size: 220%;
    padding-right: 5px ;
    margin: 0 20px 50px 0;

}

nav{
    display: flex;
    padding: 0 50px;
    min-width: 300px;
    
}
nav ul {
    display: flex;
    
}
.navLink{
    color: cadetblue;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    display: block;
    list-style: none;
    
}

figure{
    display: flex;
    height: 300px;
    width: 100%;
    background-image:url("bannerImage2.jpg") ;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-end;
 
    
    
}
figure > h2{
    
    background-color: cadetblue;
    font-weight: bolder;
    color: rgb(44, 44, 44);
    font-size: 150%;
    flex: 0 0 30%;
    flex-flow:row flex-end;
    padding: 15px 20px 15px 20px;
    margin: 10px;
    text-align: center;
    min-width: 300px;
    
}
/* Contains flex box */
main{
    background-color:whitesmoke;
    display: flex;
    flex: 1 1 100%;
    padding: 5% 5%;
}
/* Creates a flexbox grid to style Titles and content */
.flex-grid{
    display: flex;
    flex: 1 1 90%;
    flex-flow: row wrap;
    height:fit-content;
}
.flex-title{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 20%;

}
.flex-content{
    flex-flow: row wrap;
    flex: 1 1 70%;
    min-width: 469;
    height: fit-content;
    margin-bottom: 50px;

}
p{
   text-align: left;
}
/* Flex grid for projects */
.project{
    display: flex;
    flex-flow: row wrap;
}
/* Big container */
.flex-image-1{
    position: relative;
    display: flex;
    border: solid 5px cadetblue;
    flex: 3 1 90%;
    height: 300px;
    margin: 1%;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
   

}
/* Deals with background image and link style of main project */
.flex-image-1>a{
    box-shadow: inset 2000px 0 0 0 rgba(128, 236, 240, 0.5);
    display:inline-block;
    overflow:hidden;
    width:100%;
    height:100%;
}
.flex-image-1>a:hover{
    box-shadow: unset;
}
/* Small containers */
.flex-image{
    display: flex;
    border: solid 5px cadetblue;
    color: darkgray;
    flex: 1 1 45%;
    height: 200px;
    margin: 1%;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-image:url("bannerImage2.jpg") ;
    box-shadow: inset 2000px 0 0 0 rgba(128, 236, 240, 0.5);
 
}
/* Deals with background image and link style of small projects */
.flex-image>a{
    box-shadow: inset 2000px 0 0 0 rgba(128, 236, 240, 0.5);
    display:inline-block;
    overflow:hidden;
    width:100%;
    height:100%;
}
.flex-image>a:hover{
    box-shadow: unset;
}
/* Deals with shading of project images to give a shading and remove it on hover */
.background-image{
    position: relative;
    box-shadow: inset 2000px 0 0 0 rgba(128, 236, 240, 0.5);
}

.background-image:hover{
    box-shadow: unset;
}
/* Styling of titles and small description of every project */
.project-title > h4, h5 {
    position: absolute;
    bottom: 5%;
    background-color: cadetblue;
    display: flex;
    font-weight: bolder;
    color: darkgray;
    text-align: left;
    min-width: 150px;
    padding: 1px 0;
    color: rgb(44, 44, 44);
}
h5{
    
    font-size: 80%;
}

.project-title > h4{
    font-size: 150%;
    bottom: 25px;
}
/* Styling of contact me links */
.navLink{  
    display: flex;
    width: fit-content;
    margin: 0 10px 0 10px;
    background-size: 50% 200%;
    background-image: linear-gradient(to bottom, rgb(44, 44, 44) 50%, cadetblue 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    
}
.navLink:hover{
    background-position: 0 100%;
    color: rgb(44, 44, 44);
}
.contact-grid{
    display: flex;
    flex: 1 1 70%;
}
.links{
    font-size: 120%;
    margin: 0 10px 0 10px;
    background-size: 50% 200%;
    background-image: linear-gradient(to bottom, whitesmoke 50%, rgb(53, 75, 148) 50%);
    color: rgb(53, 75, 148);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}
.links:hover{
    background-position: 0 100%;
    color: whitesmoke;
}

/* Mobile and small screen port adaptations */
@media screen and (max-width: 768px){
header, main {
    flex-direction: column;

    
    height: 60%;
    }
h1{
    height: 60%;
    font-size: 200%;
    width: 100%;
    padding: 5% 25% 5% 25%;
}
nav{
    padding: 5% 0 5% 0;
}
h2{
    flex: 1 1 50%;
    font-size: 200%;
    padding: 5% 5% 5% 5%;

    
}

.flex-grid{
    flex-direction: column;
    align-items: flex-start;

    
}
.flex-title{
    text-align: left;
    padding: 0 0%;
    width: 100%;
    border-right: 0;
    border-bottom: solid 5px rgb(53, 75, 148);
    align-items:flex-start;

}
figure{
    justify-content: center ;
}
.project{
    flex-direction: column;
    width: 100%;
    
    
}
.flex-image-1{
    min-height: 200px;
}
.flex-image{
    min-height: 200px;
    background-color: mediumvioletred;

}
.contact-grid{
    flex-flow: column;
    
}
.links{
    margin-bottom: 20px;
}
}